*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: black;
    color: yellow;
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

p{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    font-size: 20px;
}

span{
    font-weight: bolder;
    margin-right: 10px;
}


#correct1, #incorrect1, #correct2, #incorrect2, #correct3, #incorrect3, #correct4, #incorrect4,#correct5, #incorrect5{
    display: none;
}


#tim:checked ~ #correct1{
    display: block;
}

#hakon:checked ~ #incorrect1,
#brendan:checked ~ #incorrect1,
#james:checked ~ #incorrect1{
    display: block;
}

#hakon1:checked ~ #correct2{
    display: block;
}

#tim1:checked ~ #incorrect2,
#brendan1:checked ~ #incorrect2,
#james1:checked ~ #incorrect2{
    display: block;
}


#html:checked ~ #correct3{
    display: block;
}

#css:checked ~ #incorrect3,
#javascript:checked ~ #incorrect3,
#python:checked ~ #incorrect3{
    display: block;
}


#css3:checked ~ #correct4{
    display: block;
}

#html3:checked ~ #incorrect4,
#javascript3:checked ~ #incorrect4,
#python3:checked ~ #incorrect4{
    display: block;
}


#javascript4:checked ~ #correct5{
    display: block;
}

#html4:checked ~ #incorrect5,
#css4:checked ~ #incorrect5,
#python4:checked ~ #incorrect5{
    display: block;
}



#correct1, #correct2, #correct3,
#correct4, #correct5{
    margin-top: 20px;
    background-color: green;
    color: white;
    padding: 20px;
}


#incorrect1, #incorrect2, #incorrect3,
#incorrect4, #incorrect5{
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 20px;
}
